body {
  background-image: linear-gradient(rgb(8, 114, 8), rgb(128, 197, 128));
}
.titulo1 {
  text-align: center;
  font-family: fantasy, cooperplate, serif;
}

.butao {
  padding: 30px;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#din {
  cursor: pointer;
}

#din:active {
  width: 23.5%;
}

#numbers {
  background-color: rgb(191, 236, 171);
  width: 100%;
  le
}

#upgrades {
  background-color: rgba(56, 112, 3, 0.473);
  border-radius: 50;
}
